// .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
//   display: block;
//   height: 35px;
//   -webkit-tap-highlight-color: transparent;
//   width: 100%;
//   padding: 0;
// }

// .mat-selection-list {
  // margin: 15px -15px;
  // margin-bottom: 15px;
// }

.question-div {
  min-height: 20vh;
  max-height: 20vh;
  overflow-y: auto;
}

.editor-div {
  min-height: 30vh;
  max-height: 30vh;
}
