<div class="container text-center">

  <br/>
  <h5><strong>Dashboard</strong></h5>
  <br/>
  <h3>Welcome to Company Name</h3>
  <br/>
  <h5 class="text-muted">Let's get you started</h5>

  <div class="row mt-5 dashboard-content">
    <div class="col-sm-4">
      <mat-card>
        <img src="../../../assets/images/create-assessment.png"/>
        <br/>
        <br/>
        <br/>
        <h5>Create Assessment</h5>
      </mat-card>
    </div>
    <div class="col-sm-4">
      <mat-card>
        <img src="../../../assets/images/user-access-management.png"/>
        <br/>
        <br/>
        <br/>
        <h5>User Access Management</h5>
      </mat-card>
    </div>
    <div class="col-sm-4">
      <mat-card>
        <p class="pt-2" style="font-size: 60px;">200</p>
        <br/>
        <h5>All courses</h5>
      </mat-card>
    </div>
  </div>

</div>
