<div class="container">

  <div class="row mt-4">
    <div class="offset-sm-2 col-sm-4 mt-2">
      <h5>Organisation</h5>
    </div>
    <div class="offset-sm-2 col-sm-2 text-right">
      <button matTooltip="GO TO USER LIST" routerLink="/organisation" mat-mini-fab class="mat-mini-fab-white"
        type="button">
        <mat-icon class="pointer;">arrow_back</mat-icon>
      </button>
    </div>
  </div>

  <div class="row mt-4">
    <div class="offset-sm-2 col-sm-8">
      <mat-card>
        <form [formGroup]="organisationForm" (ngSubmit)="saveOrganisation()">

          <div class="form-group">
            <div class="row">
              <div class="col-sm-12">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input matInput formControlName="orgName" placeholder="Organisation name" required>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-12">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input matInput formControlName="orgDescription" placeholder="Description"
                    (keypress)="aplphabetsOnly($event)" (blur)="aplphabetsOnly($event)" required>
                </mat-form-field>
              </div>
            </div>
          </div>

          <br />

          <div class="form-group">
            <div class="row">
              <div class="col-sm-12">
                <button type="button" mat-raised-button class="btn btn-block col-sm-2 mr-3"
                  (click)="resetFormData()">RESET</button>
                <button type="submit" mat-raised-button class="btn btn-block col-sm-2" color="primary"
                  [disabled]="organisationForm.invalid || !organisationForm.dirty">
                  SAVE
                  <i class="fas fa-spinner ml-2" *ngIf="showLoading"></i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>